In [1]:
import numpy as np
import pandas as pd

In [25]:
outerIndex = ["Yardım","Yardım","Yardım","Yavuz","Yavuz","Yavuz"]

In [26]:
innerIndex = ["Hasan","Zişan","Mehmet","Serpil","Seval","Sevil"]

In [27]:
combinedIndex = (list(zip(outerIndex,innerIndex)))

In [28]:
combinedIndex

[('Yardım', 'Hasan'),
 ('Yardım', 'Zişan'),
 ('Yardım', 'Mehmet'),
 ('Yavuz', 'Serpil'),
 ('Yavuz', 'Seval'),
 ('Yavuz', 'Sevil')]

In [29]:
combinedIndex = pd.MultiIndex.from_tuples(combinedIndex)

In [30]:
combinedIndex

MultiIndex([('Yardım',  'Hasan'),
            ('Yardım',  'Zişan'),
            ('Yardım', 'Mehmet'),
            ( 'Yavuz', 'Serpil'),
            ( 'Yavuz',  'Seval'),
            ( 'Yavuz',  'Sevil')],
           )

In [31]:
type(combinedIndex)

pandas.core.indexes.multi.MultiIndex

In [39]:
familyNames = [[52,"Sistem Yöneticisi"],[51,"Öğretmen"],
[37,"Yazılımcı"],[49,"Proje Yönetimi"],[56,"Bankacı"],[60,"Dil Öğretmeni"]]

In [40]:
familyNamesArray = np.array(familyNames)

In [41]:
familyNamesDataFrame = pd.DataFrame(data = familyNamesArray,
index = combinedIndex, columns = ["Age","Job"])

In [42]:
familyNamesDataFrame

              Age                Job
Yardım Hasan   52  Sistem Yöneticisi
       Zişan   51           Öğretmen
       Mehmet  37          Yazılımcı
Yavuz  Serpil  49     Proje Yönetimi
       Seval   56            Bankacı
       Sevil   60      Dil Öğretmeni

In [38]:
familyNamesDataFrame.loc["Yardım"]

       Age                Job
Hasan   52  Sistem Yöneticisi
Zişan   51          Öğrertmen
Mehmet  37          Yazılımcı

In [43]:
familyNamesDataFrame.loc["Yardım"].loc["Hasan"]

Age                   52
Job    Sistem Yöneticisi
Name: Hasan, dtype: object

In [48]:
familyNamesDataFrame.index.names = ["Surname","Name"]

In [49]:
familyNamesDataFrame

               Age                Job
Surname Name
Yardım  Hasan   52  Sistem Yöneticisi
        Zişan   51           Öğretmen
        Mehmet  37          Yazılımcı
Yavuz   Serpil  49     Proje Yönetimi
        Seval   56            Bankacı
        Sevil   60      Dil Öğretmeni