In [2]:
import pandas as pd
import numpy as np

# Series

In [5]:
nameAge = {"Hakan": 17,"Hasan":50, "Selin": 17}

In [6]:
pd.Series(nameAge)

Hakan    17
Hasan    50
Selin    17
dtype: int64

In [8]:
ages = [17,50,17]
names = ["Hakan","Hasan","Selin"]

In [9]:
pd.Series(names)

0    Hakan
1    Hasan
2    Selin
dtype: object

In [10]:
pd.Series(ages)

0    17
1    50
2    17
dtype: int64

In [16]:
pd.Series(index = names, data = ages)
#pd.Series(ages,names)

Hakan    17
Hasan    50
Selin    17
dtype: int64

In [21]:
arr = np.zeros(3)
pd.Series(arr+3)

0    3.0
1    3.0
2    3.0
dtype: float64

In [23]:
agesNumpy = [17,50,17]

In [24]:
pd.Series(index = names, data = agesNumpy )

Hakan    17
Hasan    50
Selin    17
dtype: int64

# Series Features

In [39]:
pd.Series(data = ["Matt","Jack","Louis"],index = [1,2,3])

1     Matt
2     Jack
3    Louis
dtype: object

In [40]:
result1 = pd.Series(index = ["Matt","Jack","Louis"],data = [32,31,25])

In [41]:
result1

Matt     32
Jack     31
Louis    25
dtype: int64

In [42]:
result1["Jack"]

31

In [44]:
result2 = pd.Series(index = ["Matt","Jack","Louis"],data = [16,10,5])

In [45]:
final = result1 + result2

In [46]:
final

Matt     48
Jack     41
Louis    30
dtype: int64

In [52]:
newSeries1 = pd.Series(data = [20,30,40,50], index = ["a","b","c","d"])

In [53]:
newSeries2 = pd.Series(data = [2,7,6,9], index = ["a","c","f","g"])

In [56]:
output = newSeries1 + newSeries2
output

a    22.0
b     NaN
c    47.0
d     NaN
f     NaN
g     NaN
dtype: float64

In [59]:
type(output["b"])

numpy.float64