In [1]:
import pandas as pd 
import numpy as np

In [2]:
days = ["Monday","Tuesday","Wednesday","Thursday","Friday"]
days = np.array(days)

In [3]:
days

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
      dtype='<U9')

In [9]:
temperatures = np.array([[27,25,32],
                         [23,25,32],
                         [19,22,27],
                         [30,27,33],
                         [24,25,28]])

In [10]:
cities = ["İstanbul","Ankara","İzmir"]
cities = np.array(cities)

In [14]:
weatherData = pd.DataFrame(temperatures, 
index = days, columns = cities)

In [15]:
weatherData

           İstanbul  Ankara  İzmir
Monday           27      25     32
Tuesday          23      25     32
Wednesday        19      22     27
Thursday         30      27     33
Friday           24      25     28

In [16]:
weatherData["İstanbul"]

Monday       27
Tuesday      23
Wednesday    19
Thursday     30
Friday       24
Name: İstanbul, dtype: int64

In [17]:
weatherData.loc["Monday"]

İstanbul    27
Ankara      25
İzmir       32
Name: Monday, dtype: int64

In [20]:
weatherData >= 30

           İstanbul  Ankara  İzmir
Monday        False   False   True
Tuesday       False   False   True
Wednesday     False   False  False
Thursday       True   False   True
Friday        False   False  False

In [26]:
weatherData[weatherData["İzmir"]>30]

          İstanbul  Ankara  İzmir
Monday          27      25     32
Tuesday         23      25     32
Thursday        30      27     33

In [29]:
weatherData.reset_index()

       index  İstanbul  Ankara  İzmir
0     Monday        27      25     32
1    Tuesday        23      25     32
2  Wednesday        19      22     27
3   Thursday        30      27     33
4     Friday        24      25     28

In [37]:
weatherData["Weekdays"] = ["Mon","Tue","Wed","Thu","Fri"]
weatherData.set_index("Weekdays", inplace = True)

In [38]:
weatherData

          İstanbul  Ankara  İzmir
Weekdays
Mon             27      25     32
Tue             23      25     32
Wed             19      22     27
Thu             30      27     33
Fri             24      25     28