In [167]:
import numpy as np
import pandas as pd

In [168]:
data = np.random.randn(4,3)

In [169]:
data

array([[-0.90844326,  0.96699503, -0.50077049],
       [ 0.19336694, -0.50294987,  0.13986311],
       [-0.08212631, -0.68064918, -1.65231294],
       [ 0.73526363,  0.85327646, -0.55846331]])

In [170]:
dataFrame = pd.DataFrame(data)

In [171]:
dataFrame

          0         1         2
0 -0.908443  0.966995 -0.500770
1  0.193367 -0.502950  0.139863
2 -0.082126 -0.680649 -1.652313
3  0.735264  0.853276 -0.558463

In [172]:
dataFrame[0]

0   -0.908443
1    0.193367
2   -0.082126
3    0.735264
Name: 0, dtype: float64

In [173]:
type(dataFrame[0]) #series

pandas.core.series.Series

In [174]:
dataFrame2 = pd.DataFrame(data, 
index = ["Displacement","Velocity","Acceleration","time"],
columns = ["x-axis","y-axis","z-axis"])

In [175]:
dataFrame2

                x-axis    y-axis    z-axis
Displacement -0.908443  0.966995 -0.500770
Velocity      0.193367 -0.502950  0.139863
Acceleration -0.082126 -0.680649 -1.652313
time          0.735264  0.853276 -0.558463

In [176]:
dataFrame2["x-axis"]

Displacement   -0.908443
Velocity        0.193367
Acceleration   -0.082126
time            0.735264
Name: x-axis, dtype: float64

In [177]:
dataFrame2[["x-axis","y-axis"]]

                x-axis    y-axis
Displacement -0.908443  0.966995
Velocity      0.193367 -0.502950
Acceleration -0.082126 -0.680649
time          0.735264  0.853276

In [178]:
dataFrame2.loc["Velocity"]

x-axis    0.193367
y-axis   -0.502950
z-axis    0.139863
Name: Velocity, dtype: float64

dataFrame2.iloc[2] #index location for rows

Adding columns

In [179]:
dataFrame2["range"] = dataFrame2["x-axis"] + dataFrame2["x-axis"]

In [180]:
dataFrame2

                x-axis    y-axis    z-axis     range
Displacement -0.908443  0.966995 -0.500770 -1.816887
Velocity      0.193367 -0.502950  0.139863  0.386734
Acceleration -0.082126 -0.680649 -1.652313 -0.164253
time          0.735264  0.853276 -0.558463  1.470527

Removing columns

In [181]:
dataFrame2.drop("range", axis = 1)

                x-axis    y-axis    z-axis
Displacement -0.908443  0.966995 -0.500770
Velocity      0.193367 -0.502950  0.139863
Acceleration -0.082126 -0.680649 -1.652313
time          0.735264  0.853276 -0.558463

In [182]:
dataFrame2.drop("time", axis = 0)

                x-axis    y-axis    z-axis     range
Displacement -0.908443  0.966995 -0.500770 -1.816887
Velocity      0.193367 -0.502950  0.139863  0.386734
Acceleration -0.082126 -0.680649 -1.652313 -0.164253

In [183]:
dataFrame2

                x-axis    y-axis    z-axis     range
Displacement -0.908443  0.966995 -0.500770 -1.816887
Velocity      0.193367 -0.502950  0.139863  0.386734
Acceleration -0.082126 -0.680649 -1.652313 -0.164253
time          0.735264  0.853276 -0.558463  1.470527

In [184]:
dataFrame2.drop("range", axis = 1, inplace = True)
#Permanently dropping a row or column

In [185]:
dataFrame2

                x-axis    y-axis    z-axis
Displacement -0.908443  0.966995 -0.500770
Velocity      0.193367 -0.502950  0.139863
Acceleration -0.082126 -0.680649 -1.652313
time          0.735264  0.853276 -0.558463

In [186]:
dataFrame2.loc["Velocity","z-axis"]

0.13986311212651834

In [187]:
dataFrame2.loc["Acceleration"]["x-axis"]

-0.08212630534323218

In [188]:
boolFrame = dataFrame2 < 0

In [189]:
boolFrame

              x-axis  y-axis  z-axis
Displacement    True   False    True
Velocity       False    True   False
Acceleration    True    True    True
time           False   False    True

In [190]:
dataFrame2[boolFrame]

                x-axis    y-axis    z-axis
Displacement -0.908443       NaN -0.500770
Velocity           NaN -0.502950       NaN
Acceleration -0.082126 -0.680649 -1.652313
time               NaN       NaN -0.558463

Data filtering

In [192]:
dataFrame2[dataFrame2["y-axis"] > 0]

                x-axis    y-axis    z-axis
Displacement -0.908443  0.966995 -0.500770
time          0.735264  0.853276 -0.558463

In [204]:
dataFrame2.reset_index()

  Kinematics Symbols    x-axis    y-axis    z-axis
0                  x -0.908443  0.966995 -0.500770
1                  v  0.193367 -0.502950  0.139863
2                  a -0.082126 -0.680649 -1.652313
3                  t  0.735264  0.853276 -0.558463

In [205]:
symbols = ["x","v","a","t"]

In [206]:
dataFrame2["Kinematics"] = symbols

In [207]:
dataFrame2

                      x-axis    y-axis    z-axis Kinematics
Kinematics Symbols
x                  -0.908443  0.966995 -0.500770          x
v                   0.193367 -0.502950  0.139863          v
a                  -0.082126 -0.680649 -1.652313          a
t                   0.735264  0.853276 -0.558463          t

In [208]:
dataFrame2.set_index("Kinematics", inplace = True)

In [209]:
dataFrame2

              x-axis    y-axis    z-axis
Kinematics
x          -0.908443  0.966995 -0.500770
v           0.193367 -0.502950  0.139863
a          -0.082126 -0.680649 -1.652313
t           0.735264  0.853276 -0.558463

In [210]:
dataFrame2.loc["x"]

x-axis   -0.908443
y-axis    0.966995
z-axis   -0.500770
Name: x, dtype: float64